.list__grid{
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 30px;
    width: 80%;
}

.list__filter{
    grid-column: auto / span 12;
}

.list__item{
    grid-column: auto / span 12;
}

.create__grid{
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 15px;
}

.create__item{
    grid-column: auto / span 12;
}

@media (min-width: 640px){
    .list__grid{
        width: 70%;
    }

}

@media (min-width: 768px) { 

    .list__grid{
        width: 90%;
    }
   
    .list__item{
        grid-column: auto / span 6;
    }

    .create__item{
        grid-column: auto / span 6;
    }
}

@media (min-width: 1280px) { 
    .list__grid{
        width: 90%;
    }

    .list__item{
        grid-column: auto / span 4;
    }

    .create__item{
        grid-column: auto / span 4;
    }
}

@media (min-width: 1536px){
    .list__grid{
        width: 75%;
    }
}